<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terima kasih!</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    
	<div>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Resto</span>
      </a>
    </header>
  </div>

  <div class="container">
    <center><h1>Thank you for purchasing our menu!</h1></center>

    <h2>Customer Data</h2>

    <div class="container">
      <div class="row">
        <div class="col">
          <p>Name</p>
        </div>
        <div class="col">
          <input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Age</p>
        </div>
        <div class="col">
          <input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Gender</p>
        </div>
        <div class="col">
          <input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
          <a href="/"><button type="button" class="btn btn-primary">Post</button></a>
          <a href="/"><button type="button" class="btn btn-secondary">Return</button></a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>